body {
	background-color: #0B614B;
	max-width: 700%;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-left: 10px dashed #00FFBF;
	border-right: 10px dashed #00FFBF;
}
/*#00FFBF*/

h1 {
	font-family: "Bungee", cursive;
	color: #ffffff;
	text-align: center;
}

h2 {
	font-family: "Open Sans Condensed", sans-serif;
	color: #04B45F;
}

p {
	font-family: "Coming Soon", cursive;
	color: #00FFBF;
}

a {
	color: #58FAF4;
	text-decoration: none;
}

a:visited {
	color: #58ACFA;
}

a:hover {
	color: #01DF74;
	text-decoration: bold;

 { 
	color: #00FFBF;
}

img {
	max-width: 100%;
}

h3 {
	font-family: "Bungee", cursive;
	color: #ffffff;
}